/* Style sheet for Rock Paper Scissors */
* {
    transition: all 0.1s;
}
@media (max-height: 560px) {
    body {
        height: 100%;
    }
    .score {
        font-size: small;
    }
}
body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 0;
    margin: 0;
    background: linear-gradient(rgb(61, 141, 94), black 50%);
    letter-spacing: 4px;
    height: 100vh;
    width: 100%;
}
.header {
    width: 100%;
    background: black;
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 2.5em;
    color: white;
    box-shadow: 0px 0px 20px black;
}
.game {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.title {
    margin: 10px 0px 20px 0px;
    height:20%;
    min-height: 65px;
    width:100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.subtitle {
    font-size: 16px;
}
.results {
    font-size: 28px;
    height: 50%;
    min-height: 165px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.score {
    margin: 0px 0px 8% 0px;
}
.gameResult {
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:80%;
}
.replay-btn {
    position: relative;
    height: 60px;
    width: 120px;
    margin: 20px;
    font-size: 14px;
    font-weight: 900;
}
.replay-btn:hover {
    transition: all 0.5s;
    box-shadow: 0px 0px 20px white;
}
.buttons {
    height: 30%;
    min-height: 166px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn {
    height: 100%;
    width: 33%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    text-shadow: 0px 0px 10px white;
}
.btn img:hover {
    transition: all 1s;
    -webkit-filter: drop-shadow(0px 0px 20px rgb(191, 253, 192));
}
.btn img {
    height: 80px;
    margin-bottom: 5%;
}
.footer {
    background: grey;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.footer span a {
    color: inherit;
}